* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.c-image {
	position: relative;
	overflow: hidden;
	&.-pixelated {
		.c-image__image {
			opacity: 0.6;
			filter: blur(2px);
			transition: opacity 0.3s ease, filter 0.3s ease;
		}
	}

	.c-image__image {
		display: block;
		height: 100%;
	}
}

button {
}
